            body {
                font-family: "Noto Serif", serif, 'Times New Roman', Times;
                background-color: #f5ddbc9e;
            }

            h1 {
                color: #ffffff;
                background-color: #000000e4;
                padding: 1.5rem;
                text-transform: uppercase;
                font-family: "Noto Serif", serif;
                font-size: xx-large;
            }

            h2 {
                margin: 1.5rem;
            }

            p {
                color: #c8413f;
                font-weight: 660;
                padding-left: 2.5rem;
                padding-right: 1.3rem;
                line-height: 1.5rem;
            }
            
            ul {
                padding-left: 4.75rem;
            }

            ol {
                padding-left: 4.75rem;
            }
            img {
                border: 2px #ffffff solid;
                margin: 0.65rem;
                max-width: 100%;
            }

            address {
                margin: 1.5rem;
            }

            a:link {
                color: rgb(255, 0, 0);
                text-decoration: none;
            }

            a:visited {
                color: #03e11d ;
            }

            a:hover {
                color: #ef7d9d ;
                text-decoration: underline;
            }

            a:active {
                color: rgb(251, 159, 0);
            }

            hr {
                border-top: 2px solid #c8413f;
            }
            
            footer {
                padding-left: 2.5rem;
                padding-bottom: 1.25rem;
                
            }
