            body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: #f5ddbc;
            }

            h1 {
                color: #0421c4;
                background-color: #f5b536;
                padding: 1.5rem;
            }

            h2 {
                margin: 1.5rem;
            }

            h3{
                margin: 1.5rem;
            }

            p {
                margin: 1.5rem;
            }

            img {
                float: right;
                border: 2px #ffffff solid;
                margin: 0.65rem;
                max-width: 100%;
            }

            address {
                margin: 1.5rem;
            }
            
            footer {
                padding-top: 1.5rem;
            }
